@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


.room-card {
    width: 90%;
}

.room-reviews-row {
    max-height: 200px;
    overflow: auto;
}

.room-reviews-user-icon {
    width: 15%;
}

.mainpage-room-link {
    width: 100%; 
    display: inline-block;
    text-decoration: none !important;
}

.main-section {
    margin-top: 100px;
    margin-bottom: 300px;
}

.navbar-logo-text {
    font-family: 'Knewave', cursive; 
    font-size: 30px; 
}

.gallery-carousel-title {
    font-family: 'New Tegomin', serif;
    font-size: 2em;
}

.gallery-carousel {
    width: 100% !important;
}

.login-card {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
}

.main-article {
    margin: 3%;
}

.contact-card {
    width: 95%;
}

.rating-stars {
    font-size: 18px; 
    color: #28a745;
}

.review {
    margin-top: 20px;
}

.reservation-card-img {
    width: 60%;
}

.manager-nav .active {
    text-decoration: underline;
}

@media screen and (min-width: 576px) {
    .gallery-carousel {
        width: 75% !important;
    }

    .login-card {
        width: 70%;
    }

    .reservation-card-img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .gallery-carousel {
        width: 75% !important;
    }

    .login-card {
        width: 500px;
    }

    .main-article {
        margin: 0%;
    }

    .contact-card {
        width: 50%;
    }

    .room-reviews-user-icon {
        width: 5%;
    }

    .reservation-card-img {
        width: 80%;
    }
}